{% extends 'all-photos/base.html' %}
{% block content %}
<script>
    function CopyFunction() {
        var copyText = document.getElementById("imagelink");
        copyText.select();
        document.execCommand("copy");
        alert("Copied the text: " + copyText.value);
    }
</script>
<section id="search">
    <div class="container">
        <div class="row">
            {% if photos %}
            <h2 class="text-center">
                Found {{ photos|length }} of searched term {{message}}
            </h2>
            {% else %}
            <h2 class="text-center">Found 0 photos for the search term {{message}}</h2>
            {% endif %}
        </div>
        <div class="row">

            {% for photo in photos %}
            <div class="col-md-3 single_portfolio_text">
                <img src="{{photo.photo.url}}" alt="" class="img-responsive" />

                <div class="portfolio_images_overlay text-center">
                    <h3 class="text-white">{{photo.image_name}}</h3>
                    <h5 class="text-white">Location: {{photo.location}}</h5>
                    <hr>

                    <p class="text-white">{{photo.image_desc}}</p>

                    <input type="text" id="imagelink" class="form-control input-sm"
                        value="https://my-memoirs.herokuapp.com{{photo.photo.url}}" class="hidden">
                    <div class="top">
                        <button class="btn btn-success" onclick="CopyFunction()">Copy Link</button>

                        <a class="fancybox btn btn-custom" rel="gallery" href="{{photo.photo.url}}">View Image</a>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</section>
{% endblock %}